[submodule "tasks/Azsk-NUnit/ps_modules/AzskHelper"]
	path = tasks/Azsk-NUnit/ps_modules/AzskHelper
	url = https://github.com/almmechanics/azskhelper.git
[submodule "tasks/Azsk-svt-NUnit/ps_modules/AzskHelper"]
	path = tasks/Azsk-svt-NUnit/ps_modules/AzskHelper
	url = https://github.com/almmechanics/azskhelper.git
